<%- include('partials/header') %>


    <%- include('partials/nav') %>

        <a href="/dishes/<%= id%>"> Add Dishes</a>

        <div>

           

        </div>



        <%- include('partials/footer') %>